{% extends "ipl/base.html" %}
{% block content %}
        <div class="container">
            <h2>Top rus over all the years</h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>player</th>
                    <th>season</th>
                    <th>runs</th>
                  </tr>
                </thead>
                <tbody>
                  {% for runs_reader in top_runs_over_all_the_years %}
                  <tr>
                    <td>{{ runs_reader.batsman}}</td>
                    <td>{{ runs_reader.match_id__season }}</td>
                    <td>{{ runs_reader.runs }}</td>
                  </tr>
                  {% endfor %}
            </tbody>
            </table>
        </div>
{% endblock content %}
